body{
    background-color: cornsilk;
}

.main {
    /*Main Box Model*/
    display: block;
    border: black dashed;
}

.Status {
    background-color: aliceblue;
    border: black solid 1px;

}

.Actions {
    display: block;
    border: brown solid;
    child-align: center;
}

.Information   {
    flex: auto;

}

.Logs {


}
